.container {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  overflow-x: hidden;
  background: black;
  color: white;
  padding: 2rem;
  font-family:'DM Mono', Menlo, Monaco, monospace;
  letter-spacing: 0.15em;
  font-size: calc(0.85vw + 0.85vh);
  display: flex;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  grid-column: 2;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 800;
  margin: 0;
  text-align: center;
}


.description {
  margin-bottom: 2rem;
  width: 100%;
}

.paragraph {
  font-size: 0.7em;
  line-height: 1.6;
  margin-bottom: 1rem;
  white-space: pre-line;
}

.footer {
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 2rem;
  font-size: 0.6em;
  color: rgba(255,255,255,0.7);
  width: 100%;
}

.footerText {
  margin-bottom: 0.5rem;
} 

.cursor {
  opacity: 0.5;
} 

.videoWrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* allow height to grow */
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.videoWrapper iframe {
  position: absolute;
  width: 100%; /* full viewport width */
  height: 100%; /* 2x the original 54vh */
  display: block;
  top: 0;
  left: 0;
  border: none;
}

.videoImage {
  margin-top:2em;
  margin-bottom:3em;
  width: 100%;
  height: auto;
  object-fit: cover; /* optional, depending on layout */
}


@media (max-width: 768px) {
  .title {
    font-size: 1.5em; /* or 1.3em, adjust as needed */
  }
  .paragraph {
    font-size: 1.2em; /* or 1.1em, adjust as needed */
  }

  .footer {
    font-size: 1.1em; /* or 0.9em, adjust as needed */
  }
}