@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pieces-max-width: 1920px;
  --pieces-font-min: 15px;
  --pieces-font-fluid: 1.25vw + 0.5vh;
  --pieces-font-max: 26px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
