.button {
  opacity: 0.5;
  color: rgb(255, 255, 255);
  border-radius: 0px;
  font-size: 1.5em;
  font-weight: 800;
  transition: opacity 0.1s ease-in-out;
  background: black;
  position: fixed;
  left: 2rem;
  padding: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 3rem;
}
  

.button:active {
  opacity: 0.5;
}

.button:hover {
  opacity: 1;
}

@media (max-width: 1000px) {
  .button {
    font-size: 1.5rem;
    top: 1.5rem;
    left: 1.5rem;
  }
}

@media (max-width: 600px) {
  .button {
    top: 1rem;
    left: 1rem;
  }
} 