.container {
  height: 100vh;
  overflow-y: auto;
  background: black;
  color: white;
  padding: 2rem;
  font-family:'DM Mono', Menlo, Monaco, monospace;
  letter-spacing: 0.15em;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  background: #ffffff;
  color: #000000;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}



.description {
  margin-bottom: 2rem;
  width: 100%;
}

.paragraph {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.footer {
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 2rem;
  font-size: 12px;
  color: rgba(255,255,255,0.7);
  width: 100%;
}

.footerText {
  margin-bottom: 0.5rem;
} 

.cursor {
  opacity: 0.5;
} 

.videoWrapper {
  position: relative;
  width: 100%;
  height: auto; /* allow height to grow */
  overflow: hidden;
  margin-top: 0rem;
  margin-bottom: 4rem;
}

.videoWrapper iframe {
  width: 100%; /* full viewport width */
  height: 600px; /* 2x the original 54vh */
  display: block;
  margin: 0 auto;
}